Linux_demo/*
Practice/*
Reptiles/*
StuInfoSys/*
ShowHtmlTable/.idea/*
ShowHtmlTable/api/__pycache__/*
ShowHtmlTable/__pycache__/*
ShowHtmlTable/env/*
ShowHtmlTable/venv/*
TaobaoSDMS/.idea/*
TaobaoSDMS/api/__pycache__/*
TaobaoSDMS/__pycache__/*
TaobaoSDMS/env/*
TaobaoSDMS/venv/*
TaobaoSDMS/static/uploads/*
TaobaoSDMS/work*
TaobaoTools/*.zip
TaobaoTools/.idea/*
TaobaoTools/__pycache__/*
TaobaoTools/venv/*
TaobaoTools/work/*
TaobaoTools/*.zip
TaobaoTools/work*





