Linux_demo/*
Practice/*
Reptiles/*
StuInfoSys/*
ShowHtmlTable/.idea/*
ShowHtmlTable/api/__pycache__/*
ShowHtmlTable/__pycache__/*
ShowHtmlTable/env/*
ShowHtmlTable/venv/*
TaobaoSDMS/.idea/*
TaobaoSDMS/api/__pycache__/*
TaobaoSDMS/__pycache__/*
TaobaoSDMS/env/*
TaobaoSDMS/venv/*
Taobao/*.zip
Taobao/.idea/*
Taobao/__pycache__/*
Taobao/venv/*
Taobao/work/*
Taobao/*.zip





