<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link href="../static/bootstrap/css/table.css" rel="stylesheet"/>
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/login/js/jquery-1.12.4.min.js"></script>
</head>
<body style="width: 80%;margin: 2% auto;">
<h1>Ajax 发送 post 请求</h1>
用户名：<input type="text" id="username" name="username" placeholder="请输入用户名"/>
<input type="button" value="发送ajax请求" id='btnAjax'>
</body>
</html>
<script>
    $(document).ready(function () {
        $("#btnAjax").click(function () {
            $.ajax({
                url: "http://127.0.0.1:8088/ajaxDemo",
                type: "POST",
                data: {"username": "chen", "nickname": "alien"},
                dataType: "text",
                success: function (data) {
                    console.log(data);
                    alert(data)
                },
                error: function (msg) {
                    alert(msg)
                }
            })
        })
    });


</script>