<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户登录</title>
</head>

<script type="text/javascript" src="../static/login/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="../static/login/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="../static/login/css/bootstrap.min.css"/>
<body>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="modal-title" align="center">用户登录</h4>
                <br/>
                <form class="form-horizontal" role="form" action="/login" method="post" id="form">
                    <div class="form-group">
                        <label for="name" class="col-sm-offset-2 col-sm-2 control-label">账号</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="username" name="username" placeholder="请输您的入账号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-offset-2 col-sm-2 control-label">密码</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="请输入您的密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-5">
                            <button id="submitBtn" type="button"
                                    class="btn btn-default btn-block btn-primary">登录
                            </button>
                        </div>
                    </div>
                </form>
                <div style="text-align: center;">
                    <h6><span style="color: red;text-align: center">{% if checkout == 0 %}提示：用户名或密码错误{% endif %}</span>
                        <h6><span id="loginTip" style="color: red;text-align: center"></span>
                        </h6>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</body>
</html>
<script type="text/javascript">
    function GetUrlRelativePath() {
        var url = document.location.toString();
        var arrUrl = url.split("//");
        var start = arrUrl[1].indexOf("/");
        var relUrl = arrUrl[1].substring(start);//stop省略，截取从start开始到结尾的所有字符

        if (relUrl.indexOf("?") != -1) {
            relUrl = relUrl.split("?")[0];
        }
        return relUrl;
    };
    $(document).ready(function () {
        $('#myModal').modal('show');
        $("#submitBtn").click(function () {
            var username = '';
            var password = '';
            username = document.getElementById('username').value;
            password = document.getElementById('password').value;
            if (username == '' || password == '') {
                alert('用户名或密码不能为空')
            } else {
                $.ajax({
                    url: "/login",
                    type: "POST",
                    data: {"username": $("#username").val(), "password": $("#password").val()},
                    dataType: "text",
                    success: function (url) {
                        if (url != 'fail') {
                            window.location.href = url;
                        } else {
                            $("#loginTip").html('提示：用户名或密码错误');
                        }
                    },
                    error:
                        function (msg) {
                            alert(msg)
                        }
                })
            }
        })

    })
</script>